@charset "utf-8";

body {
	padding-top: 70px;
	margin: 0;
	background-color: #000529;
}
	

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #FBFBFB;
	font-weight: 500;
	font-size: 90px;
	text-transform: uppercase;
	letter-spacing: 20px;
	margin-top: -15px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	color: #2A2A4A;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: rgba(42,42,74,1.00);
	text-transform: uppercase;
	padding-top: 20px;
}
.container.container-padding .row.icon-padding .col-xl-8 {
	position: relative;
}


h4{
	font-family: 'Oswald', sans-serif;
	color: rgba(249,150,28,1.00);
	font-size: 30px;
	text-transform: uppercase;
}
h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: rgba(249,150,28,1.00);
}




a{
	color: rgba(251,251,251,1.00);
}

a:link{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}

a:hover{
	text-decoration: none;
	color: rgba(78,77,77,1.00);
}

.container{
	padding-left: 0;
	padding-right: 0;
}

.navbar{
	height: 100px;	
}

.navbar-logo--mobile {
	display: none;
}

.bg-light{
	background-image: url(images/nav-bg.png);
	background-position: center 0%;
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.50);
	box-shadow: 0px 3px 6px rgba(0,0,0,0.50);
	/* [disabled]background-repeat: no-repeat; */
	background-size: cover;	}

.navbar-brand img{
	width: 90px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.navbar-brand{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 4px;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("images/Mobile/img_nav_sandwich@2x.png");
}

.navbar-collapse-nav {
	display: flex;
	justify-content: space-between;
}

.navbar-logo {
	padding: 0 40px;
}

.navbar-nav-center {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid rgba(41,166,216,1.00);
	flex: 1;
}

.navbar-nav .nav-item .nav-link {
	color: rgba(41,166,216,1.00);
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	padding-left: 0;
	padding-right: 0;
}

.navbar-nav .nav-item .nav-link:hover{
	color: rgba(251,251,251,1.00);
}

.navbar-toggle {
	display: none;
}

.navigation__checkbox {
	display: none;
}

	














































.hero-text {
	position: relative;
	top: 87px;
	
}

.hero-text-padding {
	padding-top: 97px;}



.icon-padding {
	padding-top: 51px;}

.icon-footer-padding {
	padding-top: 50px;
}



.container-padding {
	padding-top: 70px;
	padding-bottom: 70px;
}




.container-footer-padding {
	padding-top: 40px;
	padding-bottom: 5px;
}






.icon-padding-text {
	padding-top: 0px;
	margin-top: 26px;
}


.container-what {
	background-color: rgba(251,251,251,0.85);
	min-height: 660px;
	position: relative;
	top: 300px;
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
}

.container-page-what {
	background-color: rgba(251,251,251,0.85);
	position: relative;
	margin-top: 140px;
	margin-bottom: -280px;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	box-shadow: 0px 5px 20px rgba(0,0,0,0.60);	
}

.container-how{
	background-color: rgba(251,251,251,0.85);
	min-height: 800px;
	position: relative;
	top: 279px;
	margin-top: 200px;
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
}

.container-page-how{
	background-color: rgba(251,251,251,0.85);
	position: relative;
	margin-top: 140px;
	margin-bottom: -280px;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
}


.container-who {
	min-height: 1800px;
	position: relative;
	top: 279px;
	margin-top: 200px;
	background-color: rgba(251,251,251,0.85);
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
}

.container-page-who{
	background-color: rgba(251,251,251,0.85);
	position: relative;
	margin-top: 140px;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	padding-top: 8px;
	padding-bottom: 8px;
}

.daniela-text {
	top: -317px;
	margin-bottom: -294px;
}
.daniela {
	padding-bottom: 0px;
}


.container-page-who-alignment {
	margin-bottom: -290px;
}

.container-padding-who {
	padding-top: 20px;
	padding-bottom: 20px;

}
.container-page-who .row.text-who-vertical3 .col-lg-4.col-md-12 {
	margin-top: 289px;
}

.container-page-contact{
	background-color: rgba(251,251,251,0.85);
	position: relative;
	margin-top: 295px;
	padding-left: 32px;
	padding-right: 10px;
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	padding-top: 8px;
	padding-bottom: 27px;
	top: -211px;
	left: 13%;
	border-radius: 10px;

}
.container-page-contact-alignment {
	margin-top: 40px;
	margin-bottom: -300px;
}



.container-contact {
	min-height: 850px;
	margin-top: 200px;
	position: relative;
	top: 279px;
	background-color: rgba(251,251,251,0.85);
}
.container-page-benefit {
	background-color: rgba(251,251,251,0.85);
	position: relative;
	margin-top: 140px;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	box-shadow: 0px 5px 20px rgba(0,0,0,0.60);
	padding-bottom: 20px;
}
.benefit-padding {
	margin-top: 60px;
}

.text-align-benefit {
	margin-top: -20%;


}
.text-align-benefit1 {
	margin-top: -26%;
}
.container-page-benefit-alignment {
	margin-bottom: -300px;
}











.container-footer-bg{
	background-image: url(images/img-index-footer-bg.png);
	min-height: 340px;
	width: 100%;
	margin-top: 200px;
	position: relative;
	top: 279px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
}



.line-header {
	width: 223px;
	margin: auto;
	border: 2px solid #2A9BD3;

}


.line-header-benefit {
	width: 855px;
	margin: auto;
	border: 2px solid #2A9BD3;
}



.line-nav-left {
	width: 320px;
	margin: 0;
	position: relative;
	text-align: left;
	background-color: rgba(41,166,216,1.00);
	top: 43px;
	float: left;
}
.line-nav-right {
	width: 320px;
	text-align: right;
	position: relative;
	top: -15px;
	right: -220px;
	background-color: rgba(41,166,216,1.00);
}


.text-body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #2A2A4A;
	padding-top: 26px;
}
.text-heading {
	font-family: 'Montserrat', sans-serif;
	color: rgba(251,251,251,1.00);
	font-size: 45px;
	font-weight: 300;
	
	
}
.text-heading-with {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	font-size: 45px;
	font-weight: 300;
	color: #FBFBFB;
}



.text-body-who {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: rgba(42,42,74,1.00);
	font-size: 18px;
}

.text-body-benefit {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: rgba(42,42,74,1.00);
	font-size: 18px;
	padding-top: 15px;
}





.text-body2{
	font-family: montserrat;
	font-weight: 400;
	font-size: 16px;
	color: #2A2A4A;
	padding-top: 26px;
}


.text-body3 {
	font-family: 'Montserrat', sans-serif;
	padding-top: 26px;
	font-weight: 500;
	font-style: italic;
	font-size: 20px;
}

.text-body4 {
	font-family: 'Montserrat', sans-serif;
	color: #FBFBFB;
	font-size: 25px;
	
}


.text-body6{
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	color: rgba(251,251,251,1.00);
}

.btn {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	color: rgba(251,251,251,1.00);
	background-color: rgba(249,150,28,1.00);
	border: none;
	font-size: 20px;
	transition: none;
	width: 200px;
	height: 52;
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.40);
	box-shadow: 0px 3px 6px rgba(0,0,0,0.40);
	
}


.btn:hover{
	color: rgba(78,77,77,1.00);
	text-decoration: none;
	background-color: rgba(249,150,28,1.00);
}



.btn-space {
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
}

.btn-space2 {
	margin-top: 50px;
	margin-bottom: 37px;
	position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
     transform: translate(-50%, 0);
}


.img-align {
	padding-top: 15%;
	padding-bottom: 15%;
}
.img-align2 {
	position: relative;
	top: 11%;
}

.contact-icon{
	 position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
     transform: translate(-50%, 0);
}


.contact-form {
	background-color: #03588B;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 560px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.60);
	box-shadow: 0px 3px 6px rgba(0,0,0,0.60);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 52px;
	position: relative;
	left: 50%;
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}


.form-control{
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 20px;
}

	
.form-group {
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.footer-text-xl a:link{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

.footer-text-xl a:hover{
	color: rgba(41,166,216,1.00);
}

.social-icon-xl {
	padding-left: 25px;
	padding-right: 25px;
}


.hr-footer{
	max-width: 900px;
	/* [disabled]text-align: center; */
	background-color: rgba(41,166,216,1.00);
	margin-top: 12px;
	margin-bottom: 12px;
}

.text-who-vertical2 {
	position: relative;
	top: -330px;
}
.text-who-vertical3 {
	position: relative;
	top: -325px;
	margin-bottom: -310px;
}

.container-fluid.hero-img {
	padding: 0;
	width: 100%;
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -47px;
	height: 100%;
	position: relative;
}
.container-fluid.hero-img-mobile {
	display: none;
}
.img-what {
	background-size: cover;
	background-position: center 0%;
	width: 100%;
	padding: 0;
	height: 100%;
	background-image: url(images/iStock-493694230.jpg);
	background-attachment: fixed;
}

.img-how {
	background-size: cover;
	background-position: center 0%;
	width: 100%;
	padding: 0;
	height: 100%;
	margin-top: 0px;
	background-attachment: fixed;
	background-image: url(images/iStock-513446326.jpg);
}
.img-who {
	background-image: url(images/iStock-939732198.jpg);
	background-position: center 0%;
	background-size: cover;
	width: 100%;
	padding: 0;
	height: 100%;
	margin-top: -51px;
}
.img-contact {
	background-image: url(images/iStock-894464110.jpg);
	width: 100%;
	height: 100%;
	background-position: center 0%;
	background-size: cover;
}
.img-benefit {
	background-image: url(images/iStock-641194368.jpg);
	background-position: center 0%;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin-top: -52px;
	position: relative;
}




.contact-icon {
	position: relative;
	left: 50%;
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 17px;
}



















/*TABLET VIEW MD*/

@media (min-width:768px) and (max-width:991px){
	
	
.navbar-nav .nav-item .nav-link {
	font-size: 22px;

}
	
	
h1 {
	font-size: 52px;
	letter-spacing: 13px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}






.container-fluid.hero-img {
	position: relative;
	margin-top: 18px;
	background-size: cover;
	background-position: center 0%;
	left: -9%;
	width: 123%;
}
.container-fluid.hero-img-mobile {
	display: none;
}

.hero-text {
	margin-top: -3px;
	padding-left: 23px;
	margin-bottom: 30px;
	min-width: 700px;
}
	
.text-heading {
	font-size: 30px;
}
.text-heading-with {
	font-size: 30px;
}

.hero-text-padding {
	padding-top: 37px;
}
.hero-text-img {
	width: 55%;
	float: left;
}

	
.container-what {
	position: relative;
	top: 149px;
}
	
	
.container-page-what {
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: -183px;
	margin-left: 10%;
	margin-right: 10%;
}

	
.container-how {
	position: relative;
	top: 149px;
}
	
.container-page-how {
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: -183px;
	margin-left: 10%;
	margin-right: 10%;
}	
.container-page-who {
	padding-top: 14px;
	padding-bottom: 20px;
}
.container-page-who-alignment {
	margin-bottom: -230px;
}


	
	
.container-who {
	position: relative;
	top: 149px;
}
.daniela-text {
	top: 51px;
	text-align: center;
	margin-bottom: 47px;
}
.tamara-text {
	padding-top: 26px;

}



.container-contact {
	position: relative;
	top: 149px;
}
.container-page-contact {
	left: 12%;
	position: relative;
}
.container-page-contact-alignment {
	margin-bottom: -205px;
}
.container-page-benefit {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 40px;
	margin-top: 103px;
}
.benefit-icon {
	width: 45%;
}


.text-align-benefit {
	margin-top: 4%;
	text-align: center;
}
.text-align-benefit1 {
	margin-top: 4%;
	text-align: center;
}
.text-align-benefit2 {
	padding-top: 4%;
	text-align: center;

}
.container-page-benefit-alignment {
	margin-bottom: -190px;
}







.container-footer-bg {
	position: relative;
	top: 149px;
}




.text-body {
	font-size: 16px;
}
.text-body2 {
	font-size: 16px;
	/* [disabled]padding-bottom: 14px; */
	/* [disabled]padding-top: 13px; */
}
.icon-padding-how-md {
	margin-top: 40px;
}


.text-body3 {
	font-size: 18px;
}
.text-body-who {
	font-size: 16px;
}
.text-body-benefit {
	font-size: 16px;
}

.img-align {
	position: relative;
	left: 50%;
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: -61px;
}

.img-align2 {
	position: relative;
	left: 50%;
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 41px;
}
.text-who-vertical {
	margin-top: -170px;
	text-align: center;



}
.text-who-vertical2 {
	position: relative;
	text-align: center;
	margin-top: 417px;
	padding-bottom: 20px;
}
.text-who-vertical3 {
	position: relative;
	top: -313px;


}
.text-who-vertical4 {
	text-align: center;
	margin-top: -159px;
}
.contact-details-align {
	padding-left: 159px;
}
.contact-page-details-align {
	padding-left: 103px;
	margin-bottom: -193px;
}

.contact-form {
	position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);

}
.btn-space2 {
	position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
}
.icon-padding-text-md {
	margin-top: -16px;
}
.footer-text-xl {
	position: relative;
	bottom: 8px;
	padding-top: 10px;
	padding-bottom: 0px;
}

.nav-mobile-view {
	display: none;
}
.line-header-benefit {
	width: 250px;
}

























	
	

}


	/*MOBILE VIEW SM*/
	
	@media (min-width:576px) and (max-width:767px){
	
		.navbar{
			height: 105px;
			display: block;;
			margin-left: auto;
		}
	
		.navbar-hr {
			position: absolute;
			content: '';
			width: 91%;
			left: 32px;
			top: 70px;
			border-bottom: 3px solid rgba(41,166,216,1.00);
		}
	
		.navbar .navbar-toggle {
			padding: 0;
			width: max-content;
			margin-left: 0;
			margin-top: 25px;
			height: 40px;
		}
	
		.navigation__label__button {
			width: 38px;
			display: inline-block;
			height: 3px;
			background-color: rgba(41,166,216,1.00);
			margin-top: 4px;
			z-index: 9999;
			transition: all .1s linear;
		}
	
		.navbar .navbar-toggle:hover .navigation__label__button {
			background-color: white;
		}
	
		.navigation__checkbox:checked ~ .navbar-toggle .navigation__label__button {
			background-color: transparent;
		}
	
		.navigation__label__button::before,
		.navigation__label__button::after {
			content: '';
			position: relative;
			display: inline-block;
			height: 3px;
			background-color: rgba(41,166,216,1.00);
			width: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all .1s linear;
		}
	
		.navigation__label__button::before {
			top: -1px;
		}
	
		.navbar .navbar-toggle:hover .navigation__label__button::before{
			background-color: white;
		}
	
		.navigation__checkbox:checked ~ .navbar-toggle .navigation__label__button::before {
			transform: rotate(-135deg);
			top: 0;
			left: 0;
		}
	
		.navigation__label__button::after {
			top: -28px;
		}
	
		.navbar .navbar-toggle:hover .navigation__label__button::after{
			background-color: white;
		}
	
		.navigation__checkbox:checked ~ .navbar-toggle .navigation__label__button::after {
			transform: rotate(135deg);
			top: -40px;
			left: 0;
		}
	
		.navbar-collapse-nav-mod {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba(0,0,0,0.0);
		}
	
		.navbar .navbar-logo--mobile {
			display: block;
			position: absolute;
			top: 20px;
			left: 0;
			margin-left: 0;
		}
	
		.navigation__checkbox:checked ~ .container .navbar-collapse-nav-mod {
			display: block;
		}
	
		.navbar-toggle {
			cursor: pointer;
			position: relative;
			margin-top: 20px;
			left: 90%;
			display: block;
			padding: 0.25rem 0.75rem;
			font-size: 1.25rem;
			line-height: 1;
			background-color: transparent;
			border: 1px solid transparent;
				border-top-color: transparent;
				border-right-color: transparent;
				border-bottom-color: transparent;
				border-left-color: transparent;
			border-radius: 0.25rem;
			z-index: 9999;
		}
			
		.navbar-brand img{
			width: 80px;
		}
		
		.navbar-brand{
			position: absolute;
			left: 80%;
			transform: translateX(-20%);
			top: 3px;		
		}
	
		.navbar-nav {
			border: none;
			display: block;
			margin-left: 70%;
		}
	
		.navbar-nav-top {
			margin-top: 100px;
		}
	
		.navbar-logo {
			display: none;
		}
	
		.navbar-nav .nav-item {
		}
	
		.navbar-nav .nav-item .nav-link {
			text-align: center;
		}
			
			
		h1 {
			font-size: 56px;
			letter-spacing: 10px;
			text-align: center;
			color: #FBFBFB;
		}
		h2 {
			font-size: 30px;
		}
		h3 {
			font-size: 18px;
		}
		h4 {
			font-size: 24px;
		}
		h5 {
			font-size: 20px;
		}
		
		
		
		
		
		.bg-light {
			background-image: url(images/Mobile/img-navbar-bg-sm@2x.png);
			background-size: cover;
			background-position: center 0%;
		}
		.container-fluid.hero-img {
			display: none;
		
		}
		.container-fluid.hero-img-mobile {
			padding: 0;
			/* [disabled]width: 100%; */
			position: relative;
			display: block !important;
			/* [disabled]top: -251px; */
			background-position: center center;
			left: 1px;
			background-repeat: no-repeat;
			background-size: cover;
			margin-top: -250px;
		}
		.container-page-what {
			padding-left: 5%;
			padding-right: 5%;
			margin-left: 7%;
			margin-right: 7%;
		}
		
			
		.container-page-how {
			padding-left: 5%;
			padding-right: 5%;
			margin-left: 7%;
			margin-right: 7%;
		}	
		.container-page-who {
			padding-top: 50px;
			padding-bottom: 30px;
			margin-left: 7%;
			margin-right: 7%;
			padding-left: 5%;
			padding-right: 5%;
		
		}
		.container-page-who-alignment {
			margin-bottom: -360px;
		}
		
		.daniela-text {
			top: 50px;
			text-align: center;
			margin-bottom: 51px;
		}
		.tamara-text {
			top: 16px;
			margin-bottom: 11px;
		}
		.container-page-contact {
			margin-top: 250px;
			position: relative;
			margin-bottom: -219px;
			margin-left: -13px;
		
		}
		.container-page-benefit {
			margin-left: 7%;
			margin-right: 7%;
			padding-top: 35px;
			margin-top: 90px;
		}
		.benefit-icon {
			width: 55%;
		}
		
		
		.text-align-benefit {
			margin-top: 5%;
			text-align: center;
		}
		.text-align-benefit1 {
			text-align: center;
			margin-top: 5%;
		}
		.text-align-benefit2 {
			padding-top: 5%;
			text-align: center;
		}
		.container-page-benefit-alignment {
			margin-bottom: -320px;
		}
		
		.text-heading {
			font-size: 30px;
			text-align: center;
		}
		.text-heading-with {
			font-family: 'Montserrat', sans-serif;
			position: relative;
			font-size: 30px;
			color: #FBFBFB;
			left: 16%;
		}
		
		.hero-text {
			position: relative;
			margin-top: -38px;
			padding-left: 0px;
		
		}
		
		.hero-text-padding {
			padding-top: 267px;
		}
		.hero-text-img {
			width: 65%;
			display: block;
			position: relative;
			left: 15%;
		}
		.text-body {
			font-size: 16px;
		}
		.text-body2 {
			font-size: 16px;
		}
		.text-body3 {
			font-size: 18px;
		}
		.text-body-who {
			font-size: 16px;
		}
		.text-body6 {
			text-align: center;
		}
		.text-body-benefit {
			font-size: 16px;
		}
		
		.icon-padding-how-md {
			margin-top: 40px;
		}
		
		.icon-padding-text-md {
			margin-top: -20px;
		}
		.footer-text-xl {
			position: relative;
			bottom: -2px;
			padding-top: 5px;
		
		}
		
		.img-align {
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			top: -86px;
		}
			
		.img-align2 {
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			top: 40px;
			margin-top: -29px;
		}
	
		.text-who-vertical {
			text-align: center;
			margin-top: -170px;
		}
		
		.text-who-vertical2 {
			position: relative;
			text-align: center;
			margin-top: 409px;
		}
		.text-who-vertical3 {
			position: relative;
			top: -296px;
		}
		.text-who-vertical4 {
			text-align: center;
			margin-top: -169px;
		}
		.contact-form {
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			width: 83%;
		}
		.contact-details-align {
			position: relative;
			left: 18%;
		}
			
		.btn-space2{
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}
			
		.container.container-footer-padding .row .col-lg-6.col-md-6 {
			position: relative;
			margin-top: -19px;
			top: 2px;
		}
		.icon-footer-padding {
			padding-top: 25px;
		}
		.col-xl-3.offset-xl-1.col-lg-3.col-md-12.col-12.text-md-center.text-center a .img-fluid {
			margin-top: 20px;
			width: 220px;
		}
	
		.line-header-benefit {
			width: 250px;
		}
	}
	
	
	/*MOBILE VIEW XS*/
	
	@media (max-width: 575px){
		.container-fluid.hero-img-mobile {
			display: block !important;
		}
		.navbar{
			height: 105px;
			display: block;;
			margin-left: auto;
		}
	
		.navbar-hr {
			position: absolute;
			content: '';
			width: 91%;
			left: 4%;
			top: 70px;
			border-bottom: 3px solid rgba(41,166,216,1.00);
		}
	
		.navbar .navbar-toggle {
			padding: 0;
			width: max-content;
			margin-left: 0;
			margin-top: 25px;
			height: 40px;
		}
	
		.navigation__label__button {
			width: 38px;
			display: inline-block;
			height: 3px;
			background-color: rgba(41,166,216,1.00);
			margin-top: 4px;
			z-index: 9999;
			transition: all .1s linear;
		}
	
		.navbar .navbar-toggle:hover .navigation__label__button {
			background-color: white;
		}
	
		.navigation__checkbox:checked ~ .navbar-toggle .navigation__label__button {
			background-color: transparent;
		}
	
		.navigation__label__button::before,
		.navigation__label__button::after {
			content: '';
			position: relative;
			display: inline-block;
			height: 3px;
			background-color: rgba(41,166,216,1.00);
			width: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all .1s linear;
		}
	
		.navigation__label__button::before {
			top: -1px;
		}
	
		.navbar .navbar-toggle:hover .navigation__label__button::before{
			background-color: white;
		}
	
		.navigation__checkbox:checked ~ .navbar-toggle .navigation__label__button::before {
			transform: rotate(-135deg);
			top: 0;
			left: 0;
		}
	
		.navigation__label__button::after {
			top: -28px;
		}
	
		.navbar .navbar-toggle:hover .navigation__label__button::after{
			background-color: white;
		}
	
		.navigation__checkbox:checked ~ .navbar-toggle .navigation__label__button::after {
			transform: rotate(135deg);
			top: -40px;
			left: 0;
		}
	
		.navbar-collapse-nav-mod {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba(0,0,0,0.0);
		}
	
		.navbar .navbar-logo--mobile {
			display: block;
			position: absolute;
			top: 20px;
			left: -30px;
			margin-left: 0;
		}
	
		.navigation__checkbox:checked ~ .container .navbar-collapse-nav-mod {
			display: block;
		}
	
		.navbar-toggle {
			cursor: pointer;
			position: relative;
			margin-top: 20px;
			left: 85%;
			display: block;
			padding: 0.25rem 0.75rem;
			font-size: 1.25rem;
			line-height: 1;
			background-color: transparent;
			border: 1px solid transparent;
				border-top-color: transparent;
				border-right-color: transparent;
				border-bottom-color: transparent;
				border-left-color: transparent;
			border-radius: 0.25rem;
			z-index: 9999;
		}
			
		.navbar-brand img{
			width: 80px;
		}
		
		.navbar-brand{
			position: absolute;
			left: 80%;
			transform: translateX(-20%);
			top: 3px;		
		}
	
		.navbar-nav {
			border: none;
			display: flex;
			flex-direction: column;
			width: max-content;
			margin-left: auto;
			margin-right: 5%;
		}
	
		.navbar-nav-top {
			margin-top: 100px;
		}
	
		.navbar-logo {
			display: none;
		}
	
		.navbar-nav .nav-item {
			width: 150px;
		}
	
		.navbar-nav .nav-item .nav-link {
			text-align: center;
		}
		
		.bg-light {
			background-image: url(images/Mobile/img-navbar-bg-sm@2x.png);
			background-size: cover;
			background-position: center 0%;
		}
		
		.navbar-brand img{
			width: 70px;
		}	
			
		.navbar-brand{
			position: absolute;
			left: 80%;
			transform: translateX(-20%);
			top: 3px;		
		}
		
		.nav-padding-left {
			left: 0;
		
		}
		.nav-padding-right {
			right: 0;
		}
		
		.container-fluid.hero-img {
			display: none;
		}
	
		.container-fluid.hero-img-mobile {
			width: 110%;
			display: block !important;
			position: relative;
			padding: 0;
			margin-top: -77px;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			left: -8%;
		}
			
		.hero-text {
			margin-top: -3px;
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}
	
		.hero-text-padding {
			padding-top: 269px;
		}
	
		.hero-text-img {
			width: 70%;
			position: relative;
			left: 15%;
			padding-bottom: 22px;
		}
	
		.text-heading {
			font-size: 24px;
			text-align: center;
			line-height: 28px;
		}
	
		.text-heading-with {
			font-size: 24px;
			text-align: center;
			margin-bottom: -12px;
			margin-top: 27px;
		}
		
		h1 {
			font-size: 36px;
			font-weight: 400;
			letter-spacing: 6px;
			text-align: center;
		}
	
		h2 {
			font-size: 30px;
		}
	
		h3 {
			font-size: 18px;
		}
	
		h4 {
			font-size: 24px;
		}
	
		h5 {
			font-size: 20px;
		}
		
		.container-fluid {
			padding: 0;
		}
	
		.container-what {
			position: relative;
			top: 130px;
		}
			
		.container-page-what {
			padding-left: 3%;
			padding-right: 3%;
			margin-left: 3%;
			margin-right: 3%;
			margin-top: 80px;
			margin-bottom: -190px;
		}
			
		.container-how {
			position: relative;
			top: 100px;
		}
			
		.container-page-how {
			padding-left: 3%;
			padding-right: 3%;
			margin-left: 5%;
			margin-right: 5%;
			margin-top: 80px;
			margin-bottom: -190px;
		}	
	
		.container-page-who {
			padding-top: 35px;
			padding-bottom: 15px;
			margin-left: 5%;
			margin-right: 5%;
			padding-left: 3%;
			padding-right: 3%;
		}
	
		.container-page-who-alignment {
			margin-top: -53px;
			margin-bottom: -165px;
		}
		
		.daniela-text {
			margin-bottom: 60px;
			top: 53px;
			text-align: center;
		}
	
		.tamara-text {
			padding-top: 16px;
		}
		
		
		.container-who {
			position: relative;
			top: 100px;
		}
		.container-contact {
			position: relative;
			top: 100px;
		}
		.container-page-contact {
			position: relative;
			width: 85%;
			left: 7%;
			margin-bottom: -231px;
			margin-top: 238px;
		}
		.container-page-contact-alignment {
			margin-bottom: -165px;
		}
		.container-page-benefit {
			margin-left: 5%;
			margin-right: 5%;
			position: relative;
			padding-top: 30px;
			margin-top: 90px;
		}
		.benefit-icon {
			width: 65%;
		}
		
		
		.text-align-benefit {
			margin-top: 5%;
			text-align: center;
		}
		.text-align-benefit1 {
			text-align: center;
			margin-top: 5%;
		}
		.text-align-benefit2 {
			padding-top: 5%;
			text-align: center;
		}
		.container-page-benefit-alignment {
			margin-bottom: -180px;
		}
		
		.container-footer-bg {
			position: relative;
			top: 94px;
		}
		
		.text-body {
			font-size: 16px;
		}
		.text-body2 {
			font-size: 16px;
		}
		.text-body3 {
			font-size: 18px;
		}
		.text-body-who {
			font-size: 16px;
		}
		.text-body6 {
			text-align: center;
		}
		.text-body-benefit {
			font-size: 16px;
		}
		
		.footer-text-xl {
			position: relative;
			padding-top: 8px;
			top: -8px;}
		
		
		.col-xl-3.offset-xl-1.col-lg-3.col-md-12.col-12.text-md-center.text-center a .img-fluid {
			margin-top: 50px;
		}
		
		.icon-padding-how-md {
			margin-top: 30px;
		}
		.icon-padding-text-md {
			margin-top: -20px;
		}
		.img-align {
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			margin-top: -70px;
			top: 22px;
		}
		.img-align2 {
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}
		.text-who-vertical {
			text-align: center;
			margin-top: -35px;
		}
		.text-who-vertical2 {
			text-align: center;
			margin-top: 392px;
		}
		.text-who-vertical3 {
		}
		.text-who-vertical4 {
			text-align: center;
			margin-top: -22px;
		}
			
		.contact-form{
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			width: 90%;
		}
		.form-control {
			font-size: 12px;
		}
			
		.btn-space2{
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}
				
		.icon-footer-padding {
			padding-top: 25px;
		}
		.container.container-footer-padding .row .col-lg-6.col-md-6 {
			padding-top: 0px;
			margin-top: -26px;
			position: relative;
		}
		.col-xl-3.offset-xl-1.col-lg-3.col-md-12.col-12.text-md-center.text-center a .img-fluid {
			width: 200px;
			margin-top: 2px;
		}
	
		.line-header-benefit {
			width: 305px;
		}
	}



/*SMALL DESKTOP VIEW LG*/

@media (min-width: 992px) and (max-width: 1199px){
	
h1 {
	font-size: 67px;
	letter-spacing: 15px;
}

h2 {
	font-size: 30px;
}
	
h3 {
	font-size: 18px;
}

h4 {
	font-size: 26px;
}	
h5 {
	font-size: 20px;
}

	
	
	
	
.nav-mobile-view {
display: none;
}
.container-fluid.hero-img {
	position: relative;
	margin-top: 7px;
	width: 130%;
	left: -12%;
}
.container-fluid.hero-img-mobile {
	display: none;
}
	
.hero-text {
	margin-top: 28px;
}
.container-page-what {
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.container-page-how {
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
.container-page-who-alignment {
	margin-bottom: -325px;
}

.daniela-text {
	margin-bottom: -257px;
	top: -265px;
}
.container-page-contact {
	left: 2%;
	position: relative;
}
.container-page-contact-alignment {
	margin-bottom: -360px;
}
.text-align-benefit {
	margin-top: -26%;

}
.text-align-benefit1 {
	margin-top: -33%;
}






	
.text-heading {
	font-size: 35px;
}
.text-heading-with {
	font-size: 35px;
}

.hero-text-padding {
	padding-top: 48px;
}
.hero-text-img {
	width: 60%;
	float: left;
}

.container-what {
	position: relative;
	top: 215px;
}
.text-body {
	font-size: 16px;
}
.text-body2 {
	font-size: 14px;
}

.text-body3 {
	font-size: 18px;
}

.text-body4 {
	font-size: 22px;
}
		
.text-body-who {
	font-size: 16px;
}
	
.text-body6 {
	font-size: 12px;
}
.text-body-benefit {
	font-size: 16px;
}

	
.img-align {
	position: relative;
	top: -7%;

}
.img-align2 {
	position: relative;
	top: 0%;
}


.footer-text-xl a:link {
	font-size: 18px;
}
.footer-text-lg {
	padding-bottom: 28px;

}

.social-icon-xl {

}
.btn-space2 {
	position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.line-header-benefit {
	width: 720px;
}





}


@media (min-width: 1200px) and (max-width: 1366px){
.container-fluid.hero-img {
	background-size: cover;
	background-position: center center;
	position: relative;
	width: 109%;
	left: -5%;
	margin-top: -22px;
}
.container-what {
	position: relative;
	top: 130px;
}
.container-page-what {
	padding-right: 5%;
	padding-left: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.container-page-how {
	padding-right: 5%;
	padding-left: 5%;
	margin-left: 10%;
	margin-right: 10%;
}	
.container-page-contact {
	margin-right: 14px;
	position: relative;
	/* [disabled]left: 12%; */

}
.container-page-contact-alignment {
	margin-bottom: -300px;
}
.text-align-benefit {
	position: relative;
	margin-top: -26%;

}
.text-align-benefit1 {
	margin-top: -32%;
}





	
.container-fluid.hero-img-mobile {
	display: none;
}
.text-heading {
	font-size: 38px;
}
.text-heading-with {
	font-size: 38px;
}
h1 {
	font-size: 67px;
	letter-spacing: 14px;
}
.hero-text-padding {
	padding-top: 90px;
	padding-bottom: 0px;
}
.hero-text-img {
	width: 54%;
	padding-bottom: 95px;
}
.hero-text {
	padding-left: 62px;
}
.img-align2 {
	position: relative;

}
.btn-space2 {
	position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
     transform: translate(-50%, 0);
}
.nav-mobile-view {
	display: none;
}
.navbar-brand-mobile {
	display: none;
}
.footer-text-lg {
	padding-bottom: 28px;
}
}

/* ////////////  Animations  ////////////////// */

.page-transition {
	animation: page-transition .9s ease-in;
}

@keyframes page-transition {
    from {margin-top: 1000px;}
    to {margin-top: 0px;}
}